
.edit-profile-modal {
  padding: 20px;

 .input-group {
    margin-bottom: 16px;

    label {
      display: inline-block;
      width: 80px;
      margin-right: 16px;
    }

    input[type="file"] {
      margin-top: 4px;
      display: block;
    }

    .avatar-preview {
      margin-top: 8px;
      max-width: 100px;
      max-height: 100px;
    }
  }

  .button-group {
    text-align: right;

    button {
      margin-left: 8px;
    }
  }
}