.P-login {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    background: rgba(122, 219, 203, 0); /* 背景透明 */
}

.login-box {
    position: absolute;
    top: 40%;
    left: 48.5%;
    transform: translate(-50%, -50%);
    width: 400px;
    background: #fff; /* 小框的背景色 */
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* 添加阴影效果 */
}

.login-box .logo {
    display: block;
    margin: 0 auto 20px;
    width: auto;
    height: 160px;
}

.login-box .ipt-con {
    margin: 0 auto 20px;
    width: 300px; /* 调整输入框的宽度 */
    text-align: center;
}

.login-box .reg-bar {
    margin: 0 auto;
    width: 300px; /* 调整注册栏的宽度 */
    font-size: 14px;
    color: #333; /* 修改文字颜色 */
}

.login-box .reg-bar .reg {
    float: left;
}

.login-box .reg-bar .forget {
    float: right;
}
