.chat-layout {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height:95vh
    
}

.container
{
    position: relative;
    width: 1050px;
    max-width: 100%;
    height: calc( 100vh - 300px);
    background:#fff;
    box-shadow: 0 1px 1px 0 rgba(0,0,0,0.06),0 2px 5px 0 rgba(0,0,0,0.06);
    display: flex;
}