.reg-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.8); /* 设置透明背景 */
    border-radius: 10px;
    text-align: center;
}

.reg-container img.logo {
    display: block;
    margin: 0 auto 20px;
    width: auto;
    height: 200px; /* 根据需要调整 */
}

.reg-container .input-box {
    margin-bottom: 20px;
}

.reg-container .input-box input {
    width: 100%;
    margin-bottom: 10px;
}

.reg-container .input-box button {
    width: 100%;
}
